<!-- Form with placeholder -->
<div class="page-title">
    <div class="title_left">
        <h3>
            Обновление категории
        </h3>
        <div class="dataTables_length">
            <breadcrumps data-items="categoriesUpdate.breadcrumps"></breadcrumps>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <button type="button" data-ui-sref="products.categories.parents" class="btn btn-primary">Назад</button>
            <button type="button" data-ng-click="categoriesUpdate.update();" class="btn btn-success">Обновить</button>
            <form class="form-horizontal form-label-left">
                <uib-tabset active="activeForm">
                    <uib-tab heading="Основные настройки">
                        <div class="x_content">

                            <!-- Slug -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Ссылка <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text"
                                           required
                                           data-ng-model="categoriesUpdate.item.slug"
                                           class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>

                            <!-- Active -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Активный
                                </label>
                                <div>
                                    <input type="checkbox"
                                           class="js-switch"
                                           ui-switch
                                           data-ng-model="categoriesUpdate.item.active" />
                                </div>
                            </div>

                            <!-- Category -->
                            <div data-ng-if="categoriesUpdate.item.parent_id" class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Категория
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <ui-select data-ng-model="categoriesUpdate.item.parent_id"
                                               theme="bootstrap"
                                               close-on-select="true"
                                               title="Выберите категорию">
                                        <ui-select-match placeholder="Категорию...">{{ $select.selected.fields.ru.name.value }}</ui-select-match>
                                        <ui-select-choices repeat="category.id as category in categoriesUpdate.categories | filter:$select.search">
                                            {{ category.fields.ru.name.value }}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>


                            <!-- Primary image -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Изображение <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <elfinder data-callback="categoriesUpdate.getImage(file);">
                                        <img data-ng-if="categoriesUpdate.item.image" style="width:100%;" data-ng-src="{{ categoriesUpdate.item.image }}" />
                                        <span data-ng-if="!categoriesUpdate.item.image" class="btn btn-default">Выбрать</span>
                                    </elfinder>
                                </div>
                            </div>
                        </div>
                    </uib-tab>

                    <uib-tab data-ng-repeat="(key, language) in categoriesUpdate.item.fields"
                             heading="{{ key }}"
                             data-ng-init="iterationLanguageId = categoriesUpdate.searchLanguageId(key);"
                             data-ng-if="key !== 'default'">
                        <div class="x_content">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Заголовок <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text"
                                           required
                                           data-ng-model="language.name.value"
                                           class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Мета заголовок
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text"
                                           data-ng-init="language.meta_title.category_id = categoriesUpdate.item.id;
                                                         language.meta_title.name = 'meta_title';
                                                         language.meta_title.language_id = iterationLanguageId"
                                           data-ng-model="language.meta_title.value"
                                           class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Мета ключевые слова
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea data-ng-model="language.meta_keywords.value"
                                           data-ng-init="language.meta_keywords.category_id = categoriesUpdate.item.id;
                                                         language.meta_keywords.name = 'meta_keywords';
                                                         language.meta_keywords.language_id = iterationLanguageId"
                                              class="form-control col-md-7 col-xs-12"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Мета описание
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea data-ng-model="language.meta_description.value"
                                              data-ng-init="language.meta_description.category_id = categoriesUpdate.item.id;
                                                            language.meta_description.name = 'meta_description';
                                                            language.meta_description.language_id = iterationLanguageId"
                                              class="form-control col-md-7 col-xs-12"></textarea>
                                </div>
                            </div>
                        </div>

                    </uib-tab>



                </uib-tabset>
            </form>
        </div>
    </div>
</div>
