<!-- Form with placeholder -->
<div class="page-title">
    <div class="title_left">
        <h3>
            Создание продукта
        </h3>
        <div class="dataTables_length">
            <breadcrumps data-items="productsCreate.breadcrumps"></breadcrumps>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <button type="button" data-ui-sref="posts.list" class="btn btn-primary">Назад</button>
            <button type="button" data-ng-click="productsCreate.create();" class="btn btn-success">Создать</button>
            <form name="productsForm" class="form-horizontal form-label-left">
                <uib-tabset active="activeForm">
                    <uib-tab heading="Основные настройки">
                        <div class="x_content">

                            <!-- Link -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Ссылка <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text"
                                           id="first-name"
                                           data-ng-model="productsCreate.item.slug"
                                           required="required"
                                           class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>

                            <!-- Price -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Цена <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="number"
                                           id="first-name"
                                           data-ng-model="productsCreate.item.price"
                                           required="required"
                                           class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>

                            <!-- Old Price -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Старая Цена
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="number"
                                           id="first-name"
                                           data-ng-model="productsCreate.item.old_price"
                                           class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>

                            <!-- Sale -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Распродажа
                                </label>
                                <div>
                                    <input type="checkbox"
                                           class="js-switch"
                                           ui-switch
                                           data-ng-model="productsCreate.item.sale" />
                                </div>
                            </div>

                            <!-- In stock -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    В наличии
                                </label>
                                <div>
                                    <input type="checkbox"
                                           class="js-switch"
                                           ui-switch
                                           data-ng-model="productsCreate.item.in_stock" />
                                </div>
                            </div>

                            <!-- Active -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Активный
                                </label>
                                <div>
                                    <input type="checkbox"
                                           class="js-switch"
                                           ui-switch
                                           data-ng-model="productsCreate.item.active" />
                                </div>
                            </div>

                            <!-- Category -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Категория
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <ui-select data-ng-model="productsCreate.item.category_id"
                                               theme="bootstrap"
                                               close-on-select="true"
                                               title="Выберите категорию">
                                        <ui-select-match placeholder="Выбрать цвет...">{{ $select.selected.fields.ru.name.value }}</ui-select-match>
                                        <ui-select-choices repeat="category.id as category in productsCreate.categories | filter:$select.search">
                                            {{ category.fields.ru.name.value }}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <!-- Brand -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Бренд
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <ui-select data-ng-model="productsCreate.item.brand_id"
                                               theme="bootstrap"
                                               close-on-select="true"
                                               title="Выберите бренд">
                                        <ui-select-match placeholder="Выбрать цвет...">{{ $select.selected.title }}</ui-select-match>
                                        <ui-select-choices repeat="brand.id as brand in productsCreate.brands | filter:$select.search">
                                            {{ brand.title }}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <!-- Colors -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Цвета
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <ui-select multiple
                                               data-ng-init="productsCreate.item.colors = []"
                                               data-ng-model="productsCreate.item.colors"
                                               theme="bootstrap"
                                               close-on-select="false"
                                               title="Выберите цвет">
                                        <ui-select-match placeholder="Выбрать цвет..."><button style="background-color: {{ $item.hex }}; padding:15px;"></button></ui-select-match>
                                        <ui-select-choices repeat="color in productsCreate.colors | filter:$select.search">
                                            <button style="background-color: {{ color.hex }}; padding:15px;"></button>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <!-- Sizes-->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Размеры
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <ui-select multiple
                                               data-ng-init="productsCreate.item.sizes = []"
                                               data-ng-model="productsCreate.item.sizes"
                                               theme="bootstrap"
                                               close-on-select="false"
                                               title="Выберите размер">
                                        <ui-select-match placeholder="Выбрать размер..."> {{ $item.symbol }}</ui-select-match>
                                        <ui-select-choices repeat="size in productsCreate.sizes | filter:$select.search">
                                            {{ size.symbol }}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <!-- Primary image -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Основное изображение <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <elfinder data-callback="productsCreate.getPrimaryImage(file);">
                                        <img data-ng-if="productsCreate.item.primary_image" style="width:100%;" data-ng-src="{{ productsCreate.item.primary_image }}" />
                                        <span data-ng-if="!productsCreate.item.primary_image" class="btn btn-default">Выбрать</span>
                                    </elfinder>
                                </div>
                            </div>

                            <!-- Secondary image -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Вторичное изображение <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <elfinder data-callback="productsCreate.getSecondaryImage(file);">
                                        <img data-ng-if="productsCreate.item.secondary_image" style="width:100%;" data-ng-src="{{  productsCreate.item.secondary_image }}" />
                                        <span data-ng-if="!productsCreate.item.secondary_image" class="btn btn-default">Выбрать</span>
                                    </elfinder>
                                </div>
                            </div>

                            <!-- Background image -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Фон <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <elfinder data-callback="productsCreate.getBackgroundImage(file);">
                                        <img data-ng-if="productsCreate.item.background_image" style="width:100%;" data-ng-src="{{  productsCreate.item.background_image }}" />
                                        <span data-ng-if="!productsCreate.item.background_image" class="btn btn-default">Выбрать</span>
                                    </elfinder>
                                </div>
                            </div>
                        </div>
                    </uib-tab>


                    <uib-tab heading="Изображения">
                        <div class="x_content">
                            <elfinder data-callback="productsCreate.getNewImages(file)">
                                <span class="btn btn-success">
                                    <span class="fa fa-plus"></span>
                                    Добавить изображения
                                </span>
                            </elfinder>
                            <div class="row">
                                <div class="col-xs-6 col-md-3"
                                     data-ng-repeat="image in productsCreate.item.images">
                                    <a href="#" class="thumbnail">
                                        <elfinder data-model="image.image">
                                            <img data-ng-src="{{ image.image }}" alt="...">
                                        </elfinder>
                                    </a>
                                    <span class="btn btn-danger"
                                          data-ng-click="productsCreate.removeImage($index)">
                                        <i class="fa fa-remove"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </uib-tab>

                    <uib-tab data-ng-repeat="(key, language) in productsCreate.languages"
                             heading="{{ language.shortcode }}">
                        <div class="x_content">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Заголовок <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text"
                                    required
                                    data-ng-model="productsCreate.item.fields[language.shortcode].title.value"
                                    class="form-control col-md-7 col-xs-12"
                                    data-ng-init="productsCreate.item.fields[language.shortcode].title.language_id = language.id">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Описание <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <editor required
                                            data-model="productsCreate.item.fields[language.shortcode].description.value"
                                            data-ng-init="productsCreate.item.fields[language.shortcode].description.language_id = language.id"></editor>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Мета заголовок
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text"
                                           data-ng-model="productsCreate.item.fields[language.shortcode].meta_title.value"
                                           class="form-control col-md-7 col-xs-12"
                                           data-ng-init="productsCreate.item.fields[language.shortcode].meta_title.language_id = language.id">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Мета ключевые слова
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea data-ng-model="productsCreate.item.fields[language.shortcode].meta_keywords.value"
                                              class="form-control col-md-7 col-xs-12"
                                              data-ng-init="productsCreate.item.fields[language.shortcode].meta_keywords.language_id = language.id"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Мета описание
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea data-ng-model="productsCreate.item.fields[language.shortcode].meta_description.value"
                                              class="form-control col-md-7 col-xs-12"
                                              data-ng-init="productsCreate.item.fields[language.shortcode].meta_description.language_id = language.id"></textarea>
                                </div>
                            </div>
                        </div>

                    </uib-tab>



                </uib-tabset>
            </form>
        </div>
    </div>
</div>
