<section id="content">
    <breadcrumps data-items="products.breadcrumps"></breadcrumps>
    <div class="container">
        <div class="section">
            <div id="table-datatables">
                <h4 class="header">Посты</h4>
                <div class="row">
                    <div class="col s12 m12">
                        <md-input-container class="md-blockcol col s12 m12">
                            <label>
                                Поиск:
                            </label>
                            <input class="col s12 m5" type="search" data-ng-model="products.conditions.query">
                            <md-button class="md-fab grey" data-ng-click="products.search();">
                                <md-icon class="deed-icon">search</md-icon>

                            </md-button>
                            <md-button class="md-fab green"
                                       aria-label="Содать"
                                       data-ui-sref="products.create">
                                <md-icon>note_add</md-icon>
                            </md-button>
                        </md-input-container>
                        <pagination total-items="products.pagination.total"
                                    current-page="products.pagination.current_page"
                                    page-size="15"
                                    change-page="products.changePage(page)"
                                    data-ng-if="products.pagination.total"></pagination>

                        <table table-widget
                               id="data-table-simple"
                               class="responsive-table display"
                               cellspacing="0"
                               data-title-translate="false"
                               data-titles='[
                                        "Заголовок",
                                        "Содержание",
                                        "Главное изображение",
                                        "Средства"
                                      ]'>
                            <tr data-ng-repeat="item in products.list">
                                <td data-ng-bind="item.fields.ru.title.value"></td>
                                <td data-ng-bind="item.fields.ru.description.value"></td>
                                <td class="col m3">
                                    <img style="max-width:150px" data-ng-src="{{ item.primary_image }}" />
                                </td>
                                <td>
                                    <md-icon class="green-text deed-icon"
                                             data-ui-sref="products.update({id: item.id})">mode_edit</md-icon>
                                    |
                                    <md-icon class="red-text deed-icon"
                                             data-ng-click="products.removeItem($index);">delete_forever</md-icon>
                                </td>
                            </tr>
                        </table>
                        <pagination total-items="products.pagination.total"
                                    current-page="products.pagination.current_page"
                                    page-size="15"
                                    change-page="products.changePage(page)"
                                    data-ng-if="products.pagination.total"></pagination>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>