<div class="clearfix"></div>
<div class="menu_section">
    <ul class="nav side-menu">
        <li data-ng-repeat="item in menuDirective.menu"
            data-ng-init="$last? menuDirective.prepareMenu(): angular.noop();">
            <a>
                <i class="fa fa-{{ item.icon }}"></i> {{ item.title }}
                <span data-ng-if="item.children.length" class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu" data-ng-if="item.children.length">
                <li data-ng-repeat="children in item.children">
                    <a data-ui-sref="{{ children.sref }}"
                       data-ng-bind="children.title"></a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<script type="text/ng-template" id="withChild.html">
        <li data-ng-repeat="children in item.children">
            <a data-ui-sref="{{ children.sref }}"
               data-ng-bind="children.title"></a>
        </li>
</script>
