<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <ol class="breadcrumbs">
                    <li data-ng-repeat="item in items" 
                        data-ng-class="{active: $last}">
                            <span data-ng-if="$last" data-ng-bind="item.title"></span>
                            <a data-ng-if="!$last" 
                               data-ui-sref="{{ item.sref }}" 
                               data-ng-bind="item.title"></a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>