 <!-- Form with placeholder -->
<div class="page-title">
    <div class="title_left">
        <h3>
            Создание поста
        </h3>
        <div class="dataTables_length">
            <breadcrumps data-items="postsCreate.breadcrumps"></breadcrumps>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <button type="button" data-ui-sref="posts.list" class="btn btn-primary">Назад</button>
            <button type="button" data-ng-click="postsCreate.create();" class="btn btn-success">Создать</button>
            <form class="form-horizontal form-label-left">
                <uib-tabset active="activeForm">
                    <uib-tab heading="Основные настройки">
                        <div class="x_content">

                            <!-- Link -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Ссылка <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text"
                                           id="first-name"
                                           data-ng-model="postsCreate.item.slug"
                                           required="required"
                                           class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>

                            <!-- Photo -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Изображение <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <elfinder data-callback="postsCreate.getImage(file);">
                                        <img data-ng-if="postsCreate.item.image" style="width:100%;" data-ng-src="{{  postsCreate.item.image }}" />
                                        <span data-ng-if="!postsCreate.item.image" class="btn btn-default">Выбрать</span>
                                    </elfinder>
                                </div>
                            </div>

                            <!-- Background photo -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Фон <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <elfinder data-callback="postsCreate.getBackgroundImage(file);">
                                        <img data-ng-if="postsCreate.item.bannerImage" style="width:100%;" data-ng-src="{{  postsCreate.item.bannerImage }}" />
                                        <span data-ng-if="!postsCreate.item.bannerImage" class="btn btn-default">Выбрать</span>
                                    </elfinder>
                                </div>
                            </div>

                            <!-- Type photo -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Тип поста <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select id="first-name"
                                            data-ng-model="postsCreate.item.type_id"
                                            data-ng-options="option.id as option.name for option in postsCreate.postTypes"
                                            required="required"
                                            class="form-control col-md-7 col-xs-12">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </uib-tab>


                    <uib-tab data-ng-repeat="(key, language) in postsCreate.languages"
                             heading="{{ language.shortcode }}">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Заголовок <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text"
                                       required
                                       data-ng-model="postsCreate.item.fields[language.shortcode].title.value"
                                       data-ng-init="postsCreate.item.fields[language.shortcode].title.language_id = language.id">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Текст <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <editor required
                                        data-model="postsCreate.item.fields[language.shortcode].content.value"
                                        data-ng-init="postsCreate.item.fields[language.shortcode].content.language_id = language.id"></editor>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Мета заголовок
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text"
                                       data-ng-model="postsCreate.item.fields[language.shortcode].meta_title.value"
                                       data-ng-init="postsCreate.item.fields[language.shortcode].meta_title.language_id = language.id">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Мета ключевые слова
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea data-ng-model="postsCreate.item.fields[language.shortcode].meta_keywords.value"
                                          data-ng-init="postsCreate.item.fields[language.shortcode].meta_keywords.language_id = language.id"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Мета описание
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea data-ng-model="postsCreate.item.fields[language.shortcode].meta_description.value"
                                          data-ng-init="postsCreate.item.fields[language.shortcode].meta_description.language_id = language.id"></textarea>
                            </div>
                        </div>


                    </uib-tab>



                </uib-tabset>
            </form>
        </div>
    </div>
</div>
