

<div id="login" class="animate form">
    <section class="login_content">
        <form name="loginForm" class="login-form" data-ng-submit="loginForm.$valid && user.login();">
            <h1>Login Form</h1>
            <div>
                <input type="email" 
                       data-ng-model="user.loginData.email" 
                       class="form-control" 
                       placeholder="{{ 'LOGIN_FORM.USERNAME_PLACEHOLDER'| translate }}" required="" />
            </div>
            <div>
                <input type="password"  
                       data-ng-model="user.loginData.password" 
                       class="form-control" 
                       placeholder="{{ 'LOGIN_FORM.PASSWORD_PLACEHOLDER'| translate }}" required="" />
            </div>
            <div>
                <button class="btn btn-default submit" href="index.html">{{ 'LOGIN_FORM.LOGIN'| translate }}</button>
            </div>
            <div class="clearfix"></div>
            <div class="separator">
                <div class="clearfix"></div>
                <br />
                <div>
                    <h1><i class="fa fa-paw" style="font-size: 26px;"></i> Gentelella Alela!</h1>
                    <p>©2015 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                </div>
            </div>
        </form>
        <!-- form -->
    </section>
    <!-- content -->
</div>