md-card .md-actions, md-card md-card-actions {
    margin: 0px !important;
}

html, body {
    background-color: transparent !important;
}

.deed-icon {
    cursor: pointer;
}

.ta-root button {
    color:#fff;
    padding: 0px 10px;
    margin: 2px;
}

.ta-root .btn-group {
    display:inline-block;
    float:left;
}

.ta-toolbar {
    overflow:hidden;
}

#cboxWrapper .cboxIframe{
    width:100%;
    height:100%;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    width:80%;
    overflow:hidden;
}