<!--<md-content class="md-padding" layout-xs="column" layout="row" class="row">-->
    <div layout="row">
    <div flex-xs flex-gt-xs="25" layout="column">
        <md-card class="green white-text">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline"><i class="mdi-social-group-add"></i> New Clients</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content class="green white-text">
                <h4 class="card-stats-number">566</h4>
                <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up"></i> 15% <span class="green-text text-lighten-5">from yesterday</span>
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" class="card-action green darken-2">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>
        </md-card>
    </div>
    
    <div flex-xs flex-gt-xs="25" layout="column">
        <md-card class="pink lighten-1  white-text">
            <md-card-title>
                <md-card-title-text>
                    <span class="card-stats-title"><i class="mdi-editor-insert-drive-file"></i> New Invoice</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <h4 class="card-stats-number">566</h4>
                <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up"></i> 15% <span class="green-text text-lighten-5">from yesterday</span>
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" class="card-action pink darken-2 darken-2">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>
        </md-card>
    </div>
    
    <div flex-xs flex-gt-xs="25" layout="column">
        <md-card class="blue-grey white-text">
            <md-card-title>
                <md-card-title-text>
                    <p class="card-stats-title"><i class="mdi-action-trending-up"></i> Today Profit</p>
                </md-card-title-text>
            </md-card-title>
            <md-card-content class="white-text">
                <h4 class="card-stats-number">566</h4>
                <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up"></i> 15% <span class="green-text text-lighten-5">from yesterday</span>
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" class="card-action blue-grey darken-2">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>
        </md-card>
    </div>
    
    <div flex-xs flex-gt-xs="25" layout="column">
        <md-card class="purple white-text">
            <md-card-title>
                <md-card-title-text>
                    <strong class="card-stats-title"><i class="mdi-editor-attach-money"></i>Total Sales</strong>
                </md-card-title-text>
            </md-card-title>
            <md-card-content class="white-text">
                <h4 class="card-stats-number">566</h4>
                <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up"></i> 15% <span class="green-text text-lighten-5">from yesterday</span>
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" class="card-action purple darken-2">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>
        </md-card>
    </div>
    </div>
<!--</md-content>-->